<strong>Olá, {{name}}</strong>
<p>Parece que você se esqueceu sua senha, acesse o link abaixo:</p>

<p>
  <a href="{{resetPasswordUrl}}" target="_blank">Recuperar senha</a>
</p>
<p>
  Caso não tenha sido você quem fez a solicitação, favor descartar o e-mail
</p>

</p>
